<script lang="ts">
    import Sanctuary from "./Sanctuary.svelte";
    import RealWorld from "./RealWorld.svelte";

    import * as PlayerStore from "../Stores/playerStore";

    let player_location;

    PlayerStore.playerLocation.subscribe((value) => {
        player_location = value;
    });

    export let full;
</script>

{#if player_location === 'sanctuary'}
    <Sanctuary {full} />
{/if}

{#if player_location === 'realworld'}
    <RealWorld {full} />
{/if}
