<script lang="ts">
    import * as PlayerStore from "../Stores/playerStore";

    let player_location;

    PlayerStore.playerLocation.subscribe((value) => {
        player_location = value;
    });
</script>

<style>
    .sanctuary {
        width: 100%;
        background-image: linear-gradient(red 5%, orange 35%, grey, black);
    }

    .realworld {
        width: 100%;
        background-image: linear-gradient(
            yellow 5%,
            orange 35%,
            magenta,
            purple
        );
    }
</style>

{#if player_location === 'sanctuary'}
    <div class="sanctuary">
        <slot />
    </div>
{/if}

{#if player_location === 'realworld'}
    <div class="realworld">
        <slot />
    </div>
{/if}
