<script lang="ts">
    import { inventoryVisible, scavengeTimer } from "../Stores/gameStore.js";
    import { playerLocation } from "../Stores/playerStore.js";

    import TimedOperationButton from "../Mechanics/TimedOperationButton.svelte";
    import { fade } from "svelte/transition";
    import { onMount } from "svelte";
    import LCDScreen from "../Effects/LCDScreen.svelte";

    export let full = false;
    let mini = !full;

    let titleMessage = "Welcome to the Real World";
    let bodyMessage = "What would you like to do?";

    let visible = false;

    function goToSanctuary() {
        playerLocation.set("sanctuary");
    }

    function enableInventory() {
        inventoryVisible.update((i) => !i);
    }

    function scavenge() {}

    onMount(async () => {
        visible = true;
    });
</script>

<style>
    .uiPanel {
        width: 100%;
        display: flex;
        z-index: 10;
    }

    .game {
        position: relative;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(0);
        padding: 1em;
    }

    .full {
        width: 100%;
        height: calc((100vw) * 0.5625);
        font-size: 0.5em;
    }

    .mini {
        width: 50%;
        height: calc((50vw) * 0.5625);
        font-size: 1em;
    }

    .readout {
        width: 100%;
        height: calc((100%) * 0.5625);
        color: rgb(80, 80, 80);
        font-family: "Press Start 2P", cursive;
        padding: 0;
    }
</style>

{#if visible}
    <div class="game">
        <div class:full class:mini>
            <LCDScreen>
                <div class="readout" class:full class:mini>
                    <p>{titleMessage}</p>
                    <br /><br />
                    <p>{bodyMessage}</p>
                </div>
            </LCDScreen>
        </div>

        <div class="uiPanel">
            <button on:click={goToSanctuary}>Go to Sanctuary</button>
            <button on:click={enableInventory}>Inventory</button>
            <TimedOperationButton text={'Scavenge'} timer={scavengeTimer} />
        </div>
    </div>
{/if}
