<script lang="ts">
    import TimedOperationButton from "../Mechanics/TimedOperationButton.svelte";

    import { fade } from "svelte/transition";
    import { onMount } from "svelte";

    import { playerLocation } from "../Stores/playerStore";
    import { log, hackTimer } from "../Stores/gameStore.js";

    export let full = false;
    let mini = !full;

    let titleMessage = "Welcome to Sanctuary Corp";
    let bodyMessage = "What would you like to do?";
    let location = "net";

    let visible = false;

    function hack() {}

    function goToRealWorld() {
        playerLocation.set("realworld");
    }

    onMount(async () => {
        visible = true;
    });

    //transition:fade={{ duration: 20 }}
</script>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

    .full {
        width: 100%;
        height: calc((100vw) * 0.5625);
        font-size: 0.5em;
    }

    .mini {
        width: 50%;
        height: calc((50vw) * 0.5625);
        font-size: 1em;
    }

    .readout {
        word-wrap: initial;
        color: green;
        background-color: rgb(0, 12, 0);
        font-family: "Press Start 2P", cursive;
        padding: 1em;
        margin-bottom: 1em;
    }

    .uiPanel {
        width: 100%;
        display: flex;
    }

    .game {
        position: relative;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(0);
        padding: 1em;
        width: 100%;
    }
</style>

{#if visible}
    <div class="game">
        <div class="readout glow" class:full class:mini>
            <p>{titleMessage}</p>
            <br /><br />
            <p>{bodyMessage}</p>
            <br /><br />
            {#each $log.split('\n') as logLine}
                <p>{logLine}</p>
            {/each}
        </div>

        <div class="uiPanel">
            <button on:click={goToRealWorld}>Go to Real World</button>
            <TimedOperationButton text={'Hack'} timer={hackTimer} />
        </div>
    </div>
{/if}
