<script lang="ts">
	import PageBackground from "./Pages/PageBackground.svelte";

	import Location from "./Location.svelte";
	import StatBar from "./StatBar.svelte";
	import Inventory from "./Inventory.svelte";

	import CurrentRoom from "./Pages/CurrentRoom.svelte";

	import * as GameStore from "./Stores/gameStore";

	let inventory_visible;

	GameStore.inventoryVisible.subscribe((value) => {
		inventory_visible = value;
	});
</script>

<style>
	.title {
		position: fixed;
		top: 0;
		right: 0;
		margin: 0;
		font-size: 5vw;
		font-weight: bold;
		color: white;
	}

	.right-pane {
		position: absolute;
		max-width: 50%;

		right: 0;
		top: 5em;
	}
</style>

<div>
	<p class="title">Cyberpunk Corp Sim</p>
</div>

<PageBackground>
	<Location />

	<div class="root default">
		<CurrentRoom />
	</div>
	<div class="right-pane">
		{#if inventory_visible}
			<Inventory />
		{/if}
	</div>
	<StatBar />
</PageBackground>

<p class="tagline">Copyright some people on the internet 2020</p>
