<script lang="ts">
    import * as WorldObjects from "./Stores/worldObjects";
    import * as GameStore from "./Stores/gameStore";

    let inv;

    GameStore.inventory.subscribe((value) => {
        inv = value;
    });
</script>

<style>
    .inventory {
        position: relative;

        background-color: black;
        color: yellow;
        font-family: "Press Start 2P", cursive;
        padding: 1em;
        margin: 2em;
        min-height: 20em;
        min-width: 10em;
    }

    .inventory-element {
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="inventory">
    {#each Object.keys(inv) as item}
        <p class="inventory-element">
            <span>{WorldObjects.resourceProperties[item].nicename}</span><span>{inv[item]}</span>
        </p>
    {/each}
</div>
