<script lang="ts">
    import * as PlayerStore from "./Stores/playerStore.js";

    let player_location;

    PlayerStore.playerLocation.subscribe((value) => {
        player_location = value;
    });
</script>

<style>
    .location {
        background-color: black;
        color: yellow;
        font-family: "Press Start 2P", cursive;
        padding: 1em;
        min-width: 10em;
        width: 100%;
    }
</style>

<div class="location">
    <p>{player_location}</p>
</div>
