<script lang="ts">
    import { onMount } from "svelte";
    import { playerLevel, playerXP, nextLevelXP } from "./Stores/playerStore";
</script>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

    .stat-bar {
        position: relative;
        color: green;
        font-size: 1em;
        background-color: black;
        font-family: "Press Start 2P", cursive;
        padding: 1em;
        margin-top: 0;
    }
</style>

<p class="stat-bar">
    Level
    {Math.floor($playerLevel)}
    :
    {$playerXP}
    XP : Next Level
    {$nextLevelXP}
    XP
</p>
