<script lang="ts">
    import { writable } from "svelte/store";
    export const progress = writable(0);

    export let text;
    export let timer;

    let displayText = text;
    let cooldown = false;

    let cooldownStyle = "background-color: black; color: green;";
    let regularStyle = "background-color: green; color: black;";

    let buttonStyle = regularStyle;

    $: if (Math.abs($timer) < 0.1 || $timer === timer.initialValue()) {
        cooldown = false;
        buttonStyle = regularStyle;
        progress.set(0);
    }

    $: if (Math.abs($timer) > 0.1 && $timer !== timer.initialValue()) {
        cooldown = true;
        buttonStyle = cooldownStyle;
        progress.set(($timer / timer.initialValue()) * 100);
    }

    function startOperation() {
        timer.start();
    }
</script>

<style>
    button {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border: green 1px solid;
    }

    .cooldown {
        height: 100%;
        opacity: 50%;
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
        background-color: green;
        color: green;
    }

    .timedoperation {
        min-height: 3em;
        position: relative;
        width: 100%;
        height: 100%;
    }
</style>

<div class="timedoperation">
    {#if cooldown}
        <div class="cooldown" style="width: {$progress}%;" />
    {/if}

    <button
        disabled={cooldown}
        style={buttonStyle}
        on:click={startOperation}>{displayText}</button>
</div>
