<script>
    import { onMount } from "svelte";
    import SimplexNoise from "simplex-noise";

    let canvas;

    onMount(() => {
        const ctx = canvas.getContext("2d");
        let frame;
        var simplex = new SimplexNoise();

        (function loop() {
            frame = requestAnimationFrame(loop);

            const imageData = ctx.getImageData(
                0,
                0,
                canvas.width,
                canvas.height
            );

            var milliseconds = new Date().getTime();
            for (let p = 0; p < imageData.data.length; p += 4) {
                const i = p / 4;
                const x = i % canvas.width;
                const y = (i / canvas.height) >>> 0;

                var value =
                    simplex.noise3D(x, y, milliseconds / 100) * 20 + 0.5;

                const r = 157 + value;
                const g = 234 + value;
                const b = 173 + value;

                imageData.data[p + 0] = r;
                imageData.data[p + 1] = g;
                imageData.data[p + 2] = b;
                imageData.data[p + 3] = 255;
            }

            ctx.putImageData(imageData, 0, 0);
        })();

        return () => {
            cancelAnimationFrame(frame);
        };
    });
</script>

<style>
    .container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #666;
        z-index: 1;
    }

    .slot {
        position: absolute;
        z-index: 9;
    }
</style>

<div class="container">
    <canvas bind:this={canvas} />
    <div class="slot">
        <slot />
    </div>
</div>
